.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }

  .maintitle{
    display: flex;
    justify-content: center;
    margin-bottom:80px;
    font-size:30px;
  }