.nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0px;
    padding: 20px 0px;
    z-index: 10;
    border-bottom: 1px solid #ffffff;
    background:black;
  }
  
  .nav ul {
  }
  
  .nav ul li {
    list-style: none;
    transform: none;
    transition: all 0.1s ease-in-out;
  }

  .nav ul li:hover {
    transform: scale(1.05);
  }

  .nav ul li.home {
    float:left;
    padding-left:3%;
  }

  .nav ul li.about {
    float:right;
    padding-right:3%;
  }

  .active{
    width: 50px;
    height: 1px;
    background: #ffffff;
    margin-top: 3px;
  }